:root {
    --color-white: #fff;
    --color-green-300: #86efac;
    --color-green-400: #4ade80; // #3BF686
    --color-neutral-200: #e5e5e5;
    --color-neutral-300: #d4d4d4;
    --color-neutral-400: #a3a3a3;
    --color-neutral-600: #525252;
    --color-neutral-800: #262626;
    --color-blue-400: #60a5fa;
    --color-zinc-300: #fafafa; // #FBFBFB
    --color-zinc-300: #d4d4d8; // #D6D6D6
    --color-zinc-700: #3f3f46; // #323443
    --color-stone-300: #d6d3d1;
    --color-stone-500: #fafaf9; // #FAFAF9
    --color-rose-200: #fecdd3; // #EDCECE
    --color-cyan-300: #67e8f9; // #62D9FF
}

.gradient {
    /* for hero big text */
    &-v1 {
        background: rgb(59, 246, 134);
        background: -moz-linear-gradient(90deg, rgba(59, 246, 134, 1) 51%, rgba(76, 169, 255, 1) 91%);
        background: -webkit-linear-gradient(90deg, rgba(59, 246, 134, 1) 51%, rgba(76, 169, 255, 1) 91%);
        background: linear-gradient(90deg, rgba(59, 246, 134, 1) 51%, rgba(76, 169, 255, 1) 91%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3bf686", endColorstr="#4ca9ff", GradientType=1);
        background-clip: text;

        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;
    }

    /* in what I do */
    &-v2 {
        background: rgb(59, 246, 134);
        background: -moz-linear-gradient(90deg, rgba(59, 246, 134, 1) 31%, rgba(76, 169, 255, 1) 74%);
        background: -webkit-linear-gradient(90deg, rgba(59, 246, 134, 1) 31%, rgba(76, 169, 255, 1) 74%);
        background: linear-gradient(90deg, rgba(59, 246, 134, 1) 31%, rgba(76, 169, 255, 1) 74%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3bf686", endColorstr="#4ca9ff", GradientType=1);
        background-clip: text;

        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;
    }
}
